<%- include('./partials/_header'); %>
<div>
  <section>
    <div class="jumbotron" style="background-color: #fff">
      <h1 class="display-3">404 - Page not found</h1>
      <p class="lead">Try something else</p>
      <hr />

      <p class="lead">
        <a class="btn btn-dark btn-lg" href="/" role="button">HOME PAGE</a>
      </p>
    </div>
  </section>
</div>
<%- include('./partials/_footer'); %>
